{% extends "base.html" %}
{% from "jinja2_macros.html" import modal %}

{% block cssContent %}
{% endblock cssContent %}

{% block content %}

<div class="row">
  <div class="col s12 m12 l12">
    <h2 class="center" style="margin-top: 5px;">{{post.title}}</h2>
    {{post.post_text|safe}}
    <p> </p>
    <p><a href="{{ url_for('profile') }}">Autor: {{post.user.first_name}} {{post.user.last_name}}</a></p>
    <p>Creado el: {{post.post_date.strftime('%d/%m/%Y  %I:%M:%S %p')}}</p>
    <p>Ultima modificacion: {{post.post_modified.strftime('%d/%m/%Y  %I:%M:%S %p')}}</p>
  </div>
</div>

{{modal(post)}}

{% endblock content %}

{% block post_tools %}
{% if current_user == post.user %}
<div class="divider"></div>
<li><a class="subheader">Opciones</a>
</li>
<li><a href="{{ url_for('edit_post', post_id=post.id) }}">Editar<i
      class="material-icons right light-blue-text text-accent-4">edit</i></a>
</li>
<li><a href="#modal{{post.id}}" class="modal-trigger">Borrar<i
      class="material-icons right red-text text-darken-1">delete</i></a>
</li>
{% endif %}
{% endblock post_tools %}


{% block scriptsContent %}
{% endblock scriptsContent %}