{% extends 'base.html' %}
{% from "jinja2_macros.html" import input  %}

{% block cssContent %}
{% endblock cssContent %}

{% block content %}
<div class="row">
  <div class="card-panel col s12 m8 l8">
    <form action="{{ url_for('registrar') }}" method="POST" class="col s12">
      {{ form.csrf_token }}
      <div class="col s12 center" style="margin-bottom: 10px;">
        <h5> Registrarse </h5>
      </div>

      {{ input(form.username, 'perm_identity', 'col s12 m12 l12') }}
      {{ input(form.first_name, 'person', 'col s12 m12 l6') }}
      {{ input(form.last_name, 'person_add', 'col s12 m12 l6') }}
      {{ input(form.email, 'mail_outline', 'col s12 m12 l12') }}
      {{ input(form.password1, 'lock_open', 'col s12 m12 l6', False) }}
      {{ input(form.password2, 'lock_outline', 'col s12 m12 l6', False) }}

      <div class="col s12">
        {% if form.password1.errors %}
        <ul class="invalido" style="display: block">
          {% for error in form.password1.errors %}
          <li><span><i class="material-icons">cancel</i> {{ error }}</span></li>
          {% endfor %}
        </ul>
        {% endif %}
        {% if form.password2.errors %}
        <ul class="invalido" style="display: block">
          {% for error in form.password2.errors %}
          <li><span><i class="material-icons">cancel</i> {{ error }}</span></li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      <div class="col s12 right-align" style="margin-bottom: 20px">
        <button id="btnRegistrar" type="submit" class="btn waves-effect waves-light light-blue accent-4"
          disabled>Enviar<i class="material-icons right">send</i></button>
      </div>

    </form>
  </div>

  <div class="col s12 m4 l4">
    <ul class="valido">
      <li><span class="valido" id="user_exist"><i class="material-icons">info_outline</i> Ingrese un nombre de usuario</span>
      </li>
      <li><span class="valido" id="email_validation"><i class="material-icons">info_outline</i> Ingrese un correo
          electronico</span>
      </li>
      <li><span class="valido" id="password11_validation"><i class="material-icons">info_outline</i> La contraseña debe
          contener al menos
          8 caracteres.</span></li>
      <li><span class="valido" id="password12_validation"><i class="material-icons">info_outline</i> La contraseña no
          puede ser demasiado
          común.</span></li>
      <li><span class="valido" id="password13_validation"><i class="material-icons">info_outline</i> La contraseña no
          debe coincidir con
          tus datos personales.</span></li>
      <li><span class="valido" id="password2_validation"><i class="material-icons">info_outline</i> Ambas contraseñas
          deben
          coincidir</span>
      </li>
    </ul>
  </div>
</div>

{% endblock content %}

<script>

</script>

{% block scriptsContent %}
<script>
  var url_registrar = "{{ url_for('registrar') }}";
  var flag1 = false;
  var flag2 = false;
  var flag3 = false;
  var flag4 = false;
</script>
<script src="{{ url_for('static', filename='js/scriptsTag.js') }}" type="text/javascript">
</script>
{% endblock scriptsContent %}